	body {
		background-image: url("1.jpg");
		text-align: center;
		height: 90%;
	}

	@font-face {
	  font-family: arabic;
	  src: url("najaf.ttf");
	}
	
	@font-face {
		font-family: quran;
		src: url("uthman2.otf");
	}
@font-face {
		font-family: quran2;
		src: url("uthman.otf");
	}

	#english, #arabic {
		text-align: center;
		position: relative;
		top: 50%;
		width: max-content;
	}

	#arabic {
		font-family: arabic;
		font-size: 3vw;
		//width: max-content;
		display: inline-block;
		padding: 10px 40px 15px 40px;
		color: rgb(53, 125, 20);
		background-image: linear-gradient(white, lightgrey);
		direction: rtl;
	}

	#english {
		font-family: Roberto;
		font-size: 2vw;
		background-color: rgba(53, 125, 20);
		//width: max-content;
		display: inline-block;
		padding: 10px;
		max-width: 1440px;
		color: white;
	}

	#duaPage{
		height: 100%;
	}

	.duaName, .ziyaraName, .ramDuaName, .quranName{
		font-size: 1vw;
		background-color: white;
		padding: 10px 10px 10px 10px;
		margin: 0 0 10px 0;
		border-radius: 3px;
		color: rgb(53, 125, 20);
	}
	.container{
		display: inline-block;
		width: 15%;
		background-color: rgb(53, 125, 20);
		padding: 5px 20px 20px 20px;
		border-radius: 5px;
		vertical-align: middle;
	}
	.innerContainer{
		column-count: 1;
		display: grid;
		overflow-y: auto;
		height: 720px;
	}
	h1{
		color: white;
	}
	h2{
		color: white;
		font-size: 0.9vw;
		float: left;
		margin: 0 auto;
	}
	#startPage{
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		left: 50%;
		width: 100%;
	}
	.right{
		width: 30%;
		float: right;
		margin-right: 2%;
	}
	.enabled{
		background-color: white;
		color: rgb(53, 125, 20);
		border-radius: 10px;
	}
	.disabled{
		background-color: rgb(53, 125, 20);
		color:white;
		border-radius: 0px;
	}
	.row {
		width: 100%;
		display: flow-root;
	}
